<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml : 웹 애플리케이션의 실행 환경에 관련된 각종 설정 정보가 담겨있는 파일. 
					브라우저 요청을 가장 먼저 처리. (이곳에 필터가 있을 경우, 가장 먼저 반응하여 특정 작업 처리. 대표적으로 인코딩 작업)-->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- DispatcherServlet : 브라우저 요청이 오면, 컨트롤러로 요청이 넘어가기 전에 해당 요청을 가로챔. 
									가로챈 요청은 <init-param> 영역의 servlet-context.xml로 전달됨. -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- DispatcherServlet에서 사용할 자원 설정. 
				servlet-context : 브라우저의 요청으로부터 그 요청을 처리할 컨트롤러를 이어주는 작업 수행. 
										(즉, servlet-context에서 HandlerMapping, HandlerAdapter의 작업이 진행된다.) -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
